//@import "_common";
/* footer-like组件 */
@-webkit-keyframes liked {
    0% { 
      opacity: 1;
      top:-0.16rem; 
      left:0;
    }
    100% { 
        opacity: 0;
        top:-0.2rem; 
        left:0;  
    }
}
@keyframes liked {
    0% { 
      opacity: 1;
      top:-0.16rem; 
      left:0;
    }
    100% { 
        opacity: 0;
        top:-0.2rem; 
        left:0;
    }
}
.like-operate{
    //@extend %flex-end;
    padding-left: .58rem;
    .like{
        position:relative;
        float: left;
        padding-left: .22rem;
        @include font((fz:.12,lh:.3));
        @include daynight(background-image, image, like);
        @include daynight(color,gray,g5);
        background-position: 0 50%;
        background-size: .144rem auto;
        -webkit-background-size: .144rem auto;
        background-repeat:no-repeat;
        i{
          display:none;
        }
        &.like-in{
          @include daynight(background-image, image, likein);
        }
        &.like-in-plus{
          i{
            display:inline-block;
            position: absolute;
            animation: liked 0.3s linear 0s 1 normal forwards;
            -webkit-animation: liked 0.3s linear 0s 1 normal forwards;
          }
        }
    }
    .enter{
        float: left;
        width: .2rem;
        height: .2rem;
        margin: 0.08rem 0 0 .25rem; //改改ok
        background-size: .15rem auto;
        background-repeat:no-repeat;
        @include daynight(background-image, image, cmt);
    }
}