/* yiren-content组件 */
@import "_content-master";
@import "_content-reply";
@import "_recommend";//精彩推荐

@import "_share";//新加的
@import "_advert";//新加的
//@import "_lazy";
.banner{
	img{
	    width: 100%;
	    vertical-align: top;
	}//头图
}
.master{
    padding-bottom:0.01rem;//hack
    .master-content{
        .vcontent {
            img {
              min-width: 100%;//视频无缩放
              @extend %imgHack;
            }
        }
    }
}
.master-share{ //分享
    padding:.4rem 0 .39rem 0;
    @include border(bottom);
    @include daynight(border-color,gray,g3);
}
.content {
    @include daynight(color, gray, g3);
    @include daynight(background-color, gray, lazy);
    >section{
        padding:0 .15rem;
    }
    >a{
        @include daynight(background-image,image,reload);
        @include background((sz:0));
    }
    // &.load { //初始加载 当加载完毕时
    //     height: 6.67rem;
    //     @include daynight(background-image, image, preload);
    //     background-color: transparent;//为了覆盖掉原同色的背景 变为背景透明
    //     @include background((sz:100% auto, pz:50% .1rem)); //因为avatar的margin-top:10px
    //     > section {
    //         display: none;
    //     }
    //     > div{
    //         display:none;
    //     }
    // }
    &.offline {
        @include daynight(background-color, gray, g2);
        height: 100vh; 
        > section {
            &:not(:last-child) {
                display: none;
            }
            &.reload{
                //display:none;
                @extend %flex-center; 
                padding-top: 1.45rem;
                div{
                    a{
                        //inline-block会有下边距(可用vertical-align将图片下沉)且无法居中(margin:0 auto;不支持)
                        //flex-center时候会自动将多子元素统一设置inline-block后抹成一行居中..
                        display:block;
                        margin:0 auto .18rem auto;
                        width:.9rem;
                        height:.9rem;
                        @include daynight(background-image,image,reload);
                        @include background((sz:.9rem .9rem)); 
                                 
                    }
                    p{
                        @include font((fz:.15));
                        @include daynight(color,gray,g5);
                    }
                }
            }
        }
    }
    &.authority {
    @include daynight(background-color, gray, g2);
        height: 100vh;
        > section {
            &:not(:last-child) {
                display: none;
            }
            &.authorityNote{
                @extend %flex-center;
                padding-top: 1.45rem;
                div{
                    a{
                        display:block;
                        margin:0 auto .18rem auto;
                        width:1.2rem;
                        height:1.2rem;
                        @include daynight(background-image,image,authority);
                        @include background((sz:1.2rem 1.2rem));          
                    }
                    p{
                        @include font((fz:.15,tx:center,lh:.2));
                        @include daynight(color,gray,g5);
                    }
                }
            }
        }
    }//总内容
}
.reply{
    >section{
        padding-top:.15rem;
    }
    padding-bottom: .4rem;
    .title{ //题头
        margin-left:-.15rem;
        padding-left: .15rem;
        @include font((fz:.18,lh:.26));
        @include daynight(color,blue,b1);
        border-left: 2px solid #1bacff;
    }
	li{
    	padding-bottom: .1rem;
	}
	.best-new{
		border-top: none;
	}
  	.hot-reply{
	    padding-bottom: 0;
	    border-top: none;

        @include border(bottom);
        @include daynight(border-color,gray,g3);  //限亿人这样

	    .title{
	      	margin-top: 0;
	    }
	}
}
.more-bt { //查看更多评论
    //padding-bottom: .35rem;
	.show{
		display: block;
        @include border(top);
        @include border(bottom);
		@include daynight(border-color,gray,g3);
        @include daynight(background-color,gray,g6);
        @include daynight(color,blue,b1);
        @include font((fz:.14,lh:.46,vl:.46,tx:center));
        box-sizing:border-box;//height 中包含border高度
		padding-bottom: 0;
	}
    &:after{
        //content:"";
        display:block;
        height:.1rem;
        @include daynight(background-color,gray,lazy);
    }
}



